certifi==2023.7.22
chardet==4.0.0
dacite==1.8.1
dataclasses==0.8
idna==2.10
isodate==0.6.1
JPype1==1.4.1
mpxj==12.2.0
numpy==1.26.0
packaging==23.2
pip==23.3.1
pyopenproject==0.7.4
python-dateutil==2.8.2
PyYAML==5.3.1
requests==2.25.1
setuptools==68.2.2
six==1.16.0
treelib==1.7.0
urllib3==1.26.18
wheel==0.41.2
